@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Noto Sans Japanese";
    src: url("./fonts/NotoSansJP.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "Noto Sans Japanese", sans-serif;
}

.primary-button {
    background-color: #1D3461; /* Darkened brand-background-blue */
    border-color: #3B5584; /* Adjusted to match brand-background-accent */
    border-width: 2px;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: #E8EBE4; /* Lightened brand-letters */
    padding: 0.25rem;
    margin: 0.25rem;
    cursor: pointer;
    text-align: center;
    max-width: 6rem;
}

.primary-button:hover {
    background-color: #0B214A; /* Darkened brand-background-blue for hover */
    border-color: #1D3461; /* Darkened accent color for hover */
    transition: ease-in-out 0.3s;
}

.primary-button:disabled {
    background-color: #1D3461; /* Darkened brand-background-blue for disabled */
    border-color: #3B5584; /* Adjusted to match brand-background-accent */
    cursor: default;
    opacity: 0.7; /* Adjust opacity for disabled state */
    transition: ease-in-out 0.3s;
}

.primary-button:not(:hover) {
    transition: ease-in-out 0.3s;
}

.timer-buttons {
    min-width: 6rem;
    max-width: 12rem;
    min-height: 3rem;
    max-height: 6rem;
    transition: ease-in-out 0.3s;
    background-color: #38A3A5; /* Brand-background-accent */
    border-color: #38A3A5;
    color: #03070C; /* Lightened brand-letters */
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 0.5rem;
    border-width: 2px;
    font-weight: 600;
    font-size: 0.950rem /* 14px */;
    line-height: 1.25rem /* 20px */
}

.timer-buttons:hover {
    background-color: #57CC99;
    border-color: #57CC99;
    transition: ease-in-out 0.3s;
}

.timer-buttons:disabled {
    background-color: rgb(107 114 128);
    border-color: rgb(107 114 128);
    cursor: default;
    opacity: 0.7;
    transition: ease-in-out 0.3s;
}

.timer-buttons:disabled:hover {
    background-color: rgb(107 114 128);
    border-color: rgb(107 114 128);
    cursor: default;
    opacity: 0.7;
    transition: ease-in-out 0.3s;
}